{% extends 'base/base.html' %}

{% block content %}

<div class="card p-4">

<h2 class="mb-4">
    {{ 'Editar receta' if receta else 'Registrar receta' }}
</h2>

<form method="POST">

<div class="row">

<div class="col-md-6 mb-3">
<label class="form-label fw-bold">Cita</label>
<select name="cita" class="form-select">
{% for cita in citas %}
       <option value="{{ cita.id }}"
              {% if receta and receta.cita == cita.id %}selected{% endif %}>
              Cita {{ cita.id }} - {{ cita.paciente_nombre }}
       </option>
{% endfor %}
</select>
</div>

<div class="col-md-6 mb-3">
<label>Medicamento Principal</label>
<input type="text"
       class="form-control"
       name="medicamento_principal"
       value="{{ receta.medicamento_principal if receta else '' }}">
</div>

<div class="col-md-6 mb-3">
<label>Dosis Recomendada</label>
<input type="text"
       class="form-control"
       name="dosis_recomendada"
       value="{{ receta.dosis_recomendada if receta else '' }}">
</div>

<div class="col-md-6 mb-3">
<label>Frecuencia de Consumo</label>
<input type="text"
       class="form-control"
       name="frecuencia_consumo"
       value="{{ receta.frecuencia_consumo if receta else '' }}">
</div>

<div class="col-md-6 mb-3">
<label>Duración del Tratamiento</label>
<input type="text"
       class="form-control"
       name="duracion_tratamiento"
       value="{{ receta.duracion_tratamiento if receta else '' }}">
</div>

<div class="col-md-6 mb-3">
<label>Indicaciones Especiales</label>
<input type="text"
       class="form-control"
       name="indicaciones_especiales"
       value="{{ receta.indicaciones_especiales if receta else '' }}">
</div>

<div class="col-md-6 mb-3">
<label>Vía de Administración</label>
<input type="text"
       class="form-control"
       name="via_administracion"
       value="{{ receta.via_administracion if receta else '' }}">
</div>

<div class="col-md-6 mb-3">
<label>Fecha de Emisión</label>
<input type="date"
       class="form-control"
       name="fecha_emision"
       value="{{ receta.fecha_emision if receta else '' }}">
</div>

<div class="col-md-6 mb-3">

<label>¿Requiere Control?</label>

<select class="form-control" name="requiere_control">

<option value="true"
{% if receta and receta.requiere_control %}
selected
{% endif %}>
Sí
</option>

<option value="false"
{% if receta and not receta.requiere_control %}
selected
{% endif %}>
No
</option>

</select>

</div>

</div>

<button class="btn btn-primary">
Guardar
</button>

<a href="{{ url_for('lista_recetas') }}"
class="btn btn-secondary">
Cancelar
</a>

</form>

</div>

{% endblock %}