<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MedConnect{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>
<!-- Barra de Navegación -->
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MedConnect</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">

          {% if session.get('usuario') %}

            <li class="nav-item"><a class="nav-link" href="{{ url_for('lista_citas') }}">Citas</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('lista_recetas') }}">Recetas</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a></li>

          {% else %}

            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('registro') }}">Registrarse</a></li>

          {% endif %}

        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="ms-3 mt-3 me-3">

    {% block content %}
    {% endblock %}

</div>
</body>
</html>